/* Empêche l'icône d'affichage du mot de passe natif sur Edge */

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-password-reveal-button {
    display: none !important;
}

body{
    font-family: "Hind", sans-serif;
    font-weight: 400;
}
.navbar{
font-weight: 800;
    font-size: 16px;
}


/* Barre de filtre et recherche dans le catalogue */

.barre-recherche {
    background-color: #d4d4d6;
}

.bordure-recherche-input {
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-right: none;
}

.product-card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition douce pour le mouvement et l'ombre */
}

.product-card-hover:hover {
    transform: translateY(-10px); /* Déplace toute la carte vers le haut */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre pour donner de la profondeur */
}

.img-produit-fixe {
    height: 300px;
    object-fit: cover;
    object-position: center;
}



/* Les cartes sur le catalogue */

.carte-arrondie {
    border-radius: 10px;
}

/* Barre de navigation de filtres sur le catalogue */

.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 1050;
    padding: 20px;
    overflow-y: auto;
}

.sidebar.open {
    left: 0;
}


.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-content {
    overflow-y: auto;
}

/* Overlay pour l'effet grisâtre quand la navigation filtre est ouverte*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}

.filter-header {
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}


/* Page de connexion et d'inscription */
/* Marge au dessus qui ne s'applique pas sur mobile */

@media (min-width: 768px) {
    .marge-custom {
        margin-top: 10vh;
    }
}


/* Animation de hover sur les liens de la navbar */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}


.hover-underline-animation.left:hover::after {
    transform-origin: bottom left;
}

.hover-underline-animation.left::after {
    transform-origin: bottom right;
}

.pagination-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background-color: #f8f9fa;

}


.table-col-width{
    width: 7%;

}